@import "tailwindcss";

html, body, #root {
  @apply bg-gradient-to-r from-purple-500 via-indigo-500 to-blue-500 overscroll-none h-full w-full;
}

@theme {

	--animate-shake: shake 0.5s ease-out;
	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}
		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}
		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}
		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}
}
