@import "tailwindcss";

html, body, #root {
  @apply bg-linear-to-t from-gray-700 via-gray-900 to-black overscroll-none w-full min-h-full m-0 p-0 lg:h-full;
}

@theme {

	--animate-shake: shake 0.5s ease-out;
	@keyframes shake {
		10%,
		90% {
			transform: translate3d(-1px, 0, 0);
		}
		20%,
		80% {
			transform: translate3d(2px, 0, 0);
		}
		30%,
		50%,
		70% {
			transform: translate3d(-4px, 0, 0);
		}
		40%,
		60% {
			transform: translate3d(4px, 0, 0);
		}
	}

	--animate-fade-in-down: fade-in-down 0.5s ease-out;
	@keyframes fade-in-down {
		0% {
			opacity: 0;
			transform: translate3d(0, -20px, 0);
		}
		100% {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
